/* google font */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Comfortaa:wght@500&family=Oswald:wght@300;400;700&family=Quicksand&family=Space+Grotesk&display=swap');

/* universal */
*{
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;  
}
/* main container */
.container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #171717;
    
}
/* navigation bar */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#444444;
    padding: 30px 0px;
    position: sticky;
    top: 0px;
    z-index: 12;
}
nav ul li{
    display: inline;
    margin-right: 10px;
    
}
nav ul li a{
    text-decoration: none;
    color: #EDEDED;
    margin: 0px 20px;
    font-weight: bold;
}
nav ul li a:hover{
    color: #DA0037;
}

/* home section */
/* ------------ */
#home{
    width: 100%;
    height: 95vh; 
      
}
.home-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12rem;
}
.home-cont{
    padding-left: 120px;
    padding-top: 200px;
    line-height: 70px;
    text-align: justify;
}
.home-cont h1{
    font-size: 40px;
    color: #EDEDED;
}
.home-cont p{
    font-size: 30px;
    color: #EDEDED;
}
.home-cont span{
    color: #DA0037;
}
.p-image{
    padding-top: 90px;
}
.p-image img{
    height: 350px;
    width: 350px;
    border-radius: 30px;
    opacity: 0.9;
    background-blend-mode: screen;
}

/* about section */
/* ------------- */
#about{
    width: 100%;
    height: 100vh;
    background-color: #DA0037;
}
/* all sections heading */
.sec-head{
    padding-top: 50px;
    padding-left: 50px;
    color: #EDEDED;
}
.about-container{
    display: grid;
    grid-template-rows: repeat(2,2fr);
    gap: 4rem;
}
.about-cont{
    margin: 50px;
}
.about-cont p{
    text-align: justify;
    color: #171717;
    font-size: 20px;
    line-height: 30px;
}
.about-button{
    margin-left: 43%;
}
.about-button a{
    background-color: #444444;
    padding: 12px 12px;
    text-decoration: none;
    color: #EDEDED;
    font-weight: bold;
    display: inline-block;
    border-radius: 10px;
}
.about-button a:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
}

/* portfolio section */
/* ----------------- */
#portfolio{
    width: 100%;
    height: 100vh;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-cards{
    width: 300px;
    height: 30%;
    background-color: #EDEDED;
    margin: 120px 30px;
    border-radius: 10px;
    padding: 8px;
}
.p-cards a{
    text-decoration: none;
}
.p-cards h4{
    padding: 20px 0px;
    color:#171717 ;
}
.p-cardimg{
    border-radius: 10px 10px 0px 0px;
    width: 100%; 
}
.p-cards:hover{
    transform: scale(1.2);
    transition: all 0.4s ease;
}

/* contact section */
/* --------------- */
#contact{
    width: 100%;
    height: 45vh;
}
.contact-container{
    display: grid;
    grid-template-columns: 80% 20%;
    

}
/* c-div1 group */
.c-div1{
    background-color: #444444;
    width: 100%;
    height: 100%;
}
.c-info{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info-box{
    margin: 80px 40px;
    font-size: 18px;
    color: #EDEDED;
}
.info-box i{
    margin-right: 10px;
    color: #171717;
    font-size: 20px;
}
/* c-div2 group */
.c-div2{
    background-color: #DA0037;
    width: 100%;
    height: 100%;
    
}
.icon-div{
    
    padding-left: 110px;
    padding-top: 33px;
}
.icon-div .icon{
    margin: 28px 0px;
    font-size: 30px;
}
.icon a{
    color: #EDEDED;
}
.icon i:hover{
    transform: scale(1.2);
}

/* responsive section */
/* ------------------ */
/* Media Queries for Responsive Design */
/* -------------------------------------------------------------------------------------------------------- */


/* Mobile Device portrait */
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        height: auto;
    }

    nav {
        padding: 20px 0;
    }
    nav ul li{
        margin-right: 1px;
        
    }
    nav ul li a{
        font-size: 13px;
        margin: 0px 1px;
        
    }

    /* home section */
    #home{
        height: 100%;
    }
    .home-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .home-cont {
        padding: 20px;
        text-align: center;
    }

    .home-cont h1 {
        font-size: 28px;
    }

    .home-cont p {
        font-size: 20px;
    }

    .p-image {
        padding: 20px 50px;
    }

    .p-image img {
        height: auto;
        width: 100%;
    }

    /* about section */
    #about {
        height: 100%;
    }

    .about-container {
        grid-template-rows: 1fr;
        gap: 1rem;
    }

    .about-cont {
        margin: 20px;
    }
    .about-cont p{
        hyphens: auto;
        
    }

    .about-button {
        margin-left: 0;
        text-align: center;
        padding: 30px 0px;
    }

    .about-button a {
        font-size: 16px;
    }


    /* portfolio section */
    #portfolio {
        height: 100%;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .p-cards {
        width: 80%;
        margin: 20px 0;
    }

    .p-cards h4 {
        font-size: 18px;
    }

    /* contact section */
    #contact{
        height: auto;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .c-info{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        padding: 10px;
    }
    .info-box{
        margin: 15px 10px;
        font-size: 16px;
    }
    .info-box i{
        margin-right: 10px;
        font-size: 16px;
    }
    


    .icon-div{
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;

    }
    .icon a{
        margin: 0px 30px;
    }
}


/* -------------------------------------------------------------------------------------------------------- */
/* Mobile Device landscape */
@media (min-width: 481px) and (max-width: 768px) {
    .container {
        height: auto;
    }

    nav {
        padding: 20px 0;
    }
    nav ul li a{  
        margin: 0px 10px;   
    }

    /* home section */
    #home{
        height: 100%;
    }
    .home-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .home-cont {
        padding: 20px;
        text-align: center;
    }
    .home-cont h1 {
        font-size: 28px;
    }
    .home-cont p {
        font-size: 20px;
    }
    .p-image {
        padding: 20px 50px;
    }
    .p-image img {
        height: auto;
        width: 100%;
    }

    /* about section */
    #about {
        height: 100%;
    }
    .about-container {
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .about-cont {
        margin: 20px;
    }
    .about-button {
        margin-left: 0;
        text-align: center;
        padding: 30px 0px;
    }
    .about-button a {
        font-size: 16px;
    }


    /* portfolio section */
    #portfolio {
        height: 100%;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .p-cards {
        width: 80%;
        margin: 20px 0;
    }
    .p-cards h4 {
        font-size: 18px;
    }

    /* contact section */
    #contact{
        height: auto;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .c-info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info-box{
        margin: 30px 10px;
        font-size: 18px;
    }
    .info-box i{
        margin-right: 2px;
    }
    
    .icon-div{
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0;
    }
    .icon a{
        margin: 0px 50px;
    }

}


/* -------------------------------------------------------------------------------------------------------- */
/* tablet Device portrait */

@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        height: auto;
    }

    nav {
        padding: 20px 0;
    }
    nav ul li a{  
        margin: 0px 10px;   
    }

    /* home section */
    #home{
        height: 100%;
    }
    .home-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .home-cont {
        padding: 20px;
        text-align: center;
    }
    .home-cont h1 {
        font-size: 28px;
    }
    .home-cont p {
        font-size: 20px;
    }
    .p-image {
        padding: 20px 50px;
    }
    .p-image img {
        height: auto;
        width: 100%;
    }

    /* about section */
    #about {
        height: 100%;
    }
    .about-container {
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .about-cont {
        margin: 20px;
    }
    .about-button {
        margin-left: 0;
        text-align: center;
        padding: 30px 0px;
    }
    .about-button a {
        font-size: 16px;
    }


    /* portfolio section */
    #portfolio {
        height: 100%;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .p-cards {
        width: 80%;
        margin: 20px 0;
    }
    .p-cards h4 {
        font-size: 18px;
    }

    /* contact section */
    #contact{
        height: auto;
    }
    .contact-container{
        display: grid;
        
    }
    .c-info{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-top: 40px;
        margin-left: 40px;
    }
    .info-box{
        margin: 30px 10px;
        font-size: 18px;
    }
    .info-box i{
        margin-right: 10px;
    }
    
    .icon-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        
    }
    .icon-div .icon{
        margin: 50px 0px;
    }
    .icon a{
        margin: 0px 0px;
    }
}

/* ----------------------------------------------------------------------------------------------------------- */
/* tablet Device landscape */

@media (min-width: 1025px) and (max-width: 1279px) {
    .container {
        height: auto;
    }

    nav {
        padding: 30px 0;
    }
    nav ul li{
        margin: 0px 30px;
        
    }
    nav ul li a{
        font-size: 23px;
        margin: 0px 1px;
        
    }

    /* home section */
    #home{
        height: 100%;
    }
    .home-container {
        grid-template-columns: 1fr;
        gap:0;
    }
    .home-cont {
        margin-top: 50px;
        padding: 0px;
        text-align: center;
    }
    .home-cont h1 {
        font-size: 50px;
    }
    .home-cont p {
        font-size: 35px;
    }
    .p-image {
        padding: 50px 50px;
    }
    .p-image img {
        height: auto;
        width: 50%;
        display: block;
        margin: 0 auto;
    }

     /* about section */
     #about {
        height: 100%;
    }

    .about-container {
        grid-template-rows: 1fr;
        gap: 1rem;
    }

    .about-cont {
        margin: 50px;
    }
    .about-cont p{
        text-align: justify;
        font-size: 20px;
        line-height: 30px;
        
    }

    .about-button {
        margin-left: 0;
        text-align: center;
        padding: 30px 0px;
    }

    .about-button a {
        font-size: 16px;
    }

    /* portfolio section */
    #portfolio {
        height: 100%;
    }
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .p-cards {
        width: 50%;
        margin: 20px 0;
    }
    .p-cards h4 {
        font-size: 18px;
    }

    /* contact section */
    #contact{
        height: auto;
    }
    .contact-container{
        display: grid;
        
    }
    
    .c-info{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-top: 40px;
        margin-left: 40px;
    }
    .info-box{
        margin: 30px 10px;
        font-size: 25px;
    }
    .info-box i{
        font-size: 25px;
        margin-right: 10px;
    }
    
    
    .icon-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        
    }
    .icon-div .icon{
        margin: 50px 0px;
    }
    .icon a{
        margin: 0px 0px;
    }


    
}